* {
	box-sizing: border-box;
}
body {
	background-color: transparent;
}
.tab-block {
	background: url('../img/bg.png') center center no-repeat;
	background-size: cover;
	padding: 20px 80px;
	font-family: 'Myriad Pro';
}
.nav {
}
.active {
	border: none;
}
.content {
	width: 630px;
}
.nav>li>a {
	padding: 8px 15px;
}
.nav-tabs {
	margin-left: 27px;
	border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: none;
	background-color: #03a6dc;
	color: #fff;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.75);
}
.nav-tabs>li>a:hover {
	border: none;
	background-color: transparent;
}
.nav-item {
	margin-right: 9px;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
}
.nav-item.active {
	background-color: #03a6dc;
	border: none;
}
.nav-link {
	color: #080808;
	font-size: 24px;
}
.tab-content {
	background-color: #03a4da;
	border-radius: 5px;
	padding: 25px;
	margin-top: -1px;
	position: relative;
}
.form {
	padding: 22px;
	width: 580px;
	background-color: #000;
	border-radius: 5px;
	border: 1px solid #7dd7f4;
	padding: 69px 56px 38px 43px;
}
.form-control {
	margin-bottom: 25px;
	background-color: #1d1c1c;
	border-color: #000;
	font-size: 24px;
	padding: 20px;
}
.form-control::-webkit-input-placeholder {
	color: #fff;
}
.form-forgotten {
	display: inline-block;
	margin-left: 22px;
	font-size: 15px;
	color: #c51f03;
	margin-bottom: 60px;
}
.form-forgotten:hover {
	color: #fff;
	text-decoration: none;
}
.checkbox-label {
	font-size: 15px;
	color: #6f6d6d;
}
.checkbox {
	display: block;
	margin-left: 22px;
}
.form-btn {
	position: absolute;
	right: -16px;
	bottom: 30px;
	background: url('../img/ribbon.png') center center no-repeat;
	background-size: cover;
	display: block;
	text-align: center;
	font-size: 24px;
	color: #fff;
	border: none;
	padding: 0 30px 12px 30px;
}


.wrapper {
	background: url('../img/bg2.png') center center no-repeat;
	background-size: cover;
	padding-top: 80px;
}
.acco-block {
	font-family: 'Ubuntu';
	font-weight: 400;
}
.acco-header, .acco-span {
	text-align: center;
	text-transform: uppercase;
	color: #0bbaf0;
}
.acco-header {
	margin-bottom: 0;
	font-weight: 700;
}
.acco-span {
	font-size: 24px;
	display: block;
	margin-bottom: 20px;
}
.acco-line {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}
.panel {
	border: none;
	border-radius: 0;
}
.panel-default {
	border: none;
}
.panel-group {
	width: 850px;
	margin: 0 auto;
	margin-bottom: 130px;
}
.panel-group .panel+.panel {
	margin-bottom: 4px;
}
.panel-default>.panel-heading {
	background-color: #0bbaf0;
	width: 860px;
	margin-left: -5px;
	z-index: 10;
	position: relative;
}
.panel-heading {
	border-radius: 0;
}
.panel-title {
	color: #fff;
	text-align: center;
	font-size: 19px;
}
.panel-body {
	padding: 15px 30px;
	font-size: 22px;
	color: #535353;
}
.panel-collapse {
	border: 4px solid #dcdcdc;
	border-radius: 0 0 10px 10px;
	margin-top: -5px;
}
