* {
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.4;
	color: #333;
}
.container {
	padding-top: 130px;
}
.features {
	margin-top: 120px;
}
.feature {
	margin-bottom: 30px;
}
.feature__img {
	height: 130px;
}
.feature__text {
	margin-top: 30px;
}